$marine         : #1e3443;
$marineDark     : #172026;
$marineLight    : #2e4f66;
$green          : #a6d32f;
$greenDark      : #799921;
$greenLight     : #bcee34;
$baliHai        : #8ba2b3;
$blue           : #1eb2eb;
$blueDark       : #178ab8;
$blueLight      : #59d0ff;
$blueEastern    : #188ab8;
$bluePicton     : #55AFE0;
$cerulean       : #009fe3;