// Size
$fontSize-XS  : 12px;
$fontSize-S   : 14px;
$fontSize-M   : 16px;
$fontSize-L   : 18px;
$fontSize-XL  : 24px;
$fontSize-XXL : 36px;
$fontSize-XXXL: 48px;

// Weight
$fontWeight-light   : 300;
$fontWeight-regular : normal;
$fontWeight-semibold: 600;
$fontWeight-bold    : bold;

// Style
$fontStyle-normal: normal;
$fontStyle-italic: italic;

// Spacing
$fontSpacing-normal: normal;
$fontSpacing-paragraph: 1.75;
$fontSpacing-font-XXL: 1.15;
$mobile-vertical-spacing: 75px;

// Family
$fontFamily-OpenSans: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;