/*
h1 {
  @include font(24px, bold, italic, 1.6, black);
}
h2 {
  @include font(18px, normal);
}
*/
@mixin font($size: false, $weight: false, $style: false, $lh: false, $colour: false) {
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $style {
    font-style: $style;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $colour {
    color: $colour;
  }
}

/*
div {
  @include readable-text;
}
*/
@mixin readable-text {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}